<div class="overflow-x-auto bg-white shadow-lg rounded-lg">
    <table class="min-w-full table-auto text-sm text-gray-800">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-6 py-4 text-left">
            <input type="checkbox" class="form-checkbox text-blue-500" />
          </th>
          <th class="px-6 py-4 text-left font-semibold text-gray-600">Name</th>
          <th class="px-6 py-4 text-left font-semibold text-gray-600">Title</th>
          <th class="px-6 py-4 text-left font-semibold text-gray-600">Email</th>
          <th class="px-6 py-4 text-left font-semibold text-gray-600">Role</th>
          <th class="px-6 py-4 text-left font-semibold text-gray-600">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">
            <input type="checkbox" class="form-checkbox text-blue-500" />
          </td>
          <td class="px-6 py-4">Lindsay Walton</td>
          <td class="px-6 py-4">Front-end Developer</td>
          <td class="px-6 py-4">lindsay.walton&#64;example.com</td>
          <td class="px-6 py-4">Member</td>
          <td class="px-6 py-4 text-blue-500 cursor-pointer">Edit</td>
        </tr>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">
            <input type="checkbox" class="form-checkbox text-blue-500" />
          </td>
          <td class="px-6 py-4">Courtney Henry</td>
          <td class="px-6 py-4">Designer</td>
          <td class="px-6 py-4">courtney.henry&#64;example.com</td>
          <td class="px-6 py-4">Admin</td>
          <td class="px-6 py-4 text-blue-500 cursor-pointer">Edit</td>
        </tr>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">
            <input type="checkbox" class="form-checkbox text-blue-500" />
          </td>
          <td class="px-6 py-4">Tom Cook</td>
          <td class="px-6 py-4">Director of Product</td>
          <td class="px-6 py-4">tom.cook&#64;example.com</td>
          <td class="px-6 py-4">Member</td>
          <td class="px-6 py-4 text-blue-500 cursor-pointer">Edit</td>
        </tr>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">
            <input type="checkbox" class="form-checkbox text-blue-500" />
          </td>
          <td class="px-6 py-4">Whitney Francis</td>
          <td class="px-6 py-4">Copywriter</td>
          <td class="px-6 py-4">whitney.francis&#64;example.com</td>
          <td class="px-6 py-4">Admin</td>
          <td class="px-6 py-4 text-blue-500 cursor-pointer">Edit</td>
        </tr>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">
            <input type="checkbox" class="form-checkbox text-blue-500" />
          </td>
          <td class="px-6 py-4">Leonard Krasner</td>
          <td class="px-6 py-4">Senior Designer</td>
          <td class="px-6 py-4">leonard.krasner&#64;example.com</td>
          <td class="px-6 py-4">Owner</td>
          <td class="px-6 py-4 text-blue-500 cursor-pointer">Edit</td>
        </tr>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">
            <input type="checkbox" class="form-checkbox text-blue-500" />
          </td>
          <td class="px-6 py-4">Floyd Miles</td>
          <td class="px-6 py-4">Principal Designer</td>
          <td class="px-6 py-4">floyd.miles&#64;example.com</td>
          <td class="px-6 py-4">Member</td>
          <td class="px-6 py-4 text-blue-500 cursor-pointer">Edit</td>
        </tr>
      </tbody>
    </table>
  </div>
  