@media (max-width: 768px) {
  svg {
    width: 100%;
    height: auto;
  }
}
.node-image {
  transition: all 0.3s ease; /* Smooth resizing */
}

.node-image:hover {
  x: -25px; /* Adjust position */
  y: -25px; /* Adjust position */
  width: 50px; /* Enlarged width */
  height: 50px; /* Enlarged height */
}

.node-name {
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 8px;
}

.dark .node-name {
  background-color: white; /* White background in dark mode */
  color: black; /* Text color in dark mode */
}


