<div class="flex h-screen bg-gray-100 bg-white dark:bg-gray-900 text-black dark:text-white">
  <!-- <app-banner></app-banner> -->
  <!-- Sidebar -->
  <aside
    class="bg-white shadow-md transition-transform transform lg:translate-x-0 -translate-x-full lg:w-64 w-20 dark:bg-gray-900 text-black dark:text-white"
    [ngClass]="{'-translate-x-full': isSidebarCollapsed}">
    <div
      class="h-16 flex items-center justify-center border-b dark:border-0 dark:bg-gray-900 text-black dark:text-white">
      <h1 class="text-xl font-bold text-gray-700 lg:block hidden">{{ title }}</h1>
    </div>
    <nav class="p-4">
      <ul>
        <li *ngFor="let item of menuItems" class="mb-4 dark:hover:text-gray-600 dark:text-black" [class.active]="activeItem === item.path"
          (click)="setActive(item.path)">
          <a [routerLink]="item.path" routerLinkActive="text-blue-500 dark:bg-blue-500"
            class="flex items-center px-4 py-2 text-gray-700 hover:bg-blue-100 rounded-md dark:hover:text-black">
            <i [class]="item.icon"></i>
            <span class="ml-2 lg:block text-sm hidden dark:text-black dark:hover:text-black" [class.active]="activeItem === item.path">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>


  </aside>

  <!-- Main Content -->
  <div class="flex flex-col flex-1 overflow-hidden dark:bg-gray-900 text-black dark:text-white">
    <!-- Header -->
    <header class="flex flex-col">
      <div
        class="flex items-center justify-between h-16 px-6 bg-white border-b dark:border-0 shadow dark:bg-gray-900 text-black dark:text-white">
        <button class="lg:hidden p-2" (click)="toggleSidebar()">
          <i class="fas fa-bars text-gray-700 dark:text-white"></i>
        </button>

        <div class="flex flex-row w-full justify-between items-center p-4 dark:bg-gray-900 text-black dark:text-white">
          <h2 class="text-lg font-semibold text-gray-700">{{currentDepartment}}</h2>

          <!-- Navigation Menu -->
          <!-- Navbar Component -->
          <nav class="relative bg-white text-gray-700">
            <!-- Burger Menu for Small Screens -->
            <div class="sm:hidden flex justify-between items-center p-4 dark:bg-gray-900 text-black dark:text-white">
              <span class="text-l bold ml-2">Department</span>
              <button (click)="toggleBurgerMenu()" class="focus:outline-none">
                <i class="fas fa-bars text-xl m-2"></i>
              </button>
            </div>

            <!-- Dropdown for Small Screens -->
            <div *ngIf="isBurgerMenuOpen"
              class="sm:hidden bg-gray-50 shadow-lg rounded-lg dark:bg-gray-900 text-black dark:text-white ">
              <ul>
                <li *ngFor="let item of departmentItems"
                  class="border-b dark:border-0 border-gray-200 dark:bg-gray-900 text-black dark:text-white dark:hover:text-black hover:text-blue-500 dark:hover:text-black hover:text-blue-500"
                  [class.active]="activeItem === item.path">
                  <a routerLink="{{ item.path }}"
                    class="block px-4 py-2 hover:bg-blue-100 flex items-center"
                    [class.text-blue-600]="activeItem === item.path" [class.text-black]="activeItem === item.path"
                    [class.active]="activeItem === item.path"
                    (click)="setActive(item.path)">
                    <i class="{{ item.icon }} mr-2" [class.text-black]="activeItem === item.path"></i>
                    <span class="hidden sm:inline mx-2 text-sm dark:text-black"
                      [class.active]="activeItem === item.path">{{
                      item.label }}</span>
                  </a>

                </li>
              </ul>
            </div>

            <!-- Normal Navigation for Larger Screens -->
            <div class="hidden sm:flex space-x-4 dark:bg-gray-900 text-black dark:text-white">
              <ng-container *ngFor="let item of departmentItems">
                <div class="relative">
                  <a routerLink="{{ item.path }}"
                    class="p-4 flex items-center hover:text-blue-500 dark:hover:text-black"
                    [class.text-blue-600]="activeItem === item.path">
                    <i class="{{ item.icon }} block sm:hidden"></i>
                    <span class="hidden sm:inline mx-2 text-sm dark:text-white">{{ item.label }}</span>
                  </a>
                </div>
              </ng-container>
            </div>
          </nav>


        </div>

        <div class="flex items-center space-x-4">

          <div class="toggle-container">
            <label for="toggle" class="flex items-center cursor-pointer">
              <div class="relative">
                <input type="checkbox" id="toggle" [(ngModel)]="toggleState" class="hidden"
                  (change)="toggleDarkMode()" />
                <div class="toggle-bg">
                  <div class="toggle-dot"></div>
                </div>
              </div>
              <span>{{ toggleState ? 'Dark' : 'Light' }}</span>
            </label>
          </div>



          <button class="relative focus:outline-none">
            <i class="fas fa-bell text-gray-600"></i>
            <span
              class="absolute top-0 right-0 inline-flex items-center justify-center w-4 h-4 text-xs font-bold text-white bg-red-500 rounded-full">3</span>
          </button>

        </div>
        <div class="relative">
          <button class="flex items-center focus:outline-none">
            <img class="w-8 h-8 rounded-full" src="https://via.placeholder.com/40" alt="User Avatar" />
            <span class="ml-2 text-sm font-medium text-gray-700 lg:block hidden">Admin</span>
          </button>

          <div
            class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-lg text-gray-700 hidden group-hover:block dark:hover:text-black">
            <ul class="py-2">
              <li><a href="#" class="block px-4 py-2 text-sm">Profile</a></li>
              <li><a href="#" class="block px-4 py-2 text-sm">Settings</a></li>
              <li><a href="#" class="block px-4 py-2 text-sm">Logout</a></li>
            </ul>
          </div>
        </div>


      </div>

    </header>




    <!-- Router Outlet -->
    <main class="flex-1 overflow-y-auto p-6">
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </main>
  </div>
</div>